/*Import Core*/

@import 'core/reset-min';
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixin';

/*Import Core*/

@import 'components/icons';
* {
    font-family: 'Graphik', 'Helvetica Nueue', sans-serif;
}

html {
    font-size: 62.5%;
    height: 100%;
    overflow: hidden;
}

i {
    display: inline-block;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #fff;
}

hr {
    height: 0.1rem;
    width: 12rem;
    background-color: $color-border;
}

img {
    border-radius: 0.5rem;
}

.wrapper {
    display: flex;
    overflow: auto hidden;
    height: 100%;
    width: 100%;
}

.icons {
    // display: flex;
    // justify-content: center;
    margin-right: 1rem;
}

.l-sidebar {
    flex: 1;
    @include box-shadow (0, 0.2rem, 1rem, rgba($color-shadow, 0.1));
    height: 100%;
    /* Make it stick, even on scroll */
    overflow: auto;
    /* Enable scrolling if the sidenav has too much content */
    &__top {
        height: 8rem;
        display: flex;
        @include box-shadow (0, 0.2rem, 1rem, rgba($color-shadow, 0.1));
        align-items: center;
        padding-left: 3rem;
    }
    &__profile {
        display: inline-flex;
        align-items: center;
        padding: 3rem 0 5rem 3rem;
        border-left: 8px solid transparent;
        width: 100%;
    }
}

.sidebar {
    float: left;
    font-size: 1.4rem;
    background-color: #fff;
}

.profile-img {
    &--sm {
        width: 3rem;
        height: 3rem;
    }
    &--large {
        width: 4rem;
        height: 4rem;
    }
}

.logo {
    // border: 3px solid red;
    display: flex;
    align-items: center;
}

.profile-name {
    margin-left: 1.5rem;
    color: #9B9B9B;
}

.sidebar-nav {
    position: relative;
    height: 100%;
    .l-nav-item {
        height: 8rem;
        padding-left: 3rem;
        display: flex;
        border-left: 8px solid transparent;
        font-size: 1.6rem;
        a {
            color: #7C86A2;
        }
        svg {
            use {
                fill: #7C86A2;
            }
        }
        span {
            color: $color-white;
        }
    }
    .base-content {
        position: fixed;
        bottom: 0;
        left: 0;
        width: inherit;
        border: none;
        background-color: #fff;
        border-left: 8px solid transparent;
    }
}

.active {
    border-left: 8px solid $color-green;
    font-weight: bold;
    a {
        color: #011B33;
    }
    svg {
        use {
            fill: #011B33;
        }
    }
}

.request {
    float: left;
    min-width: 48rem;
    background-color: #F0F4F6;
    display: flex;
    flex-direction: column;
    flex: 2;
}

button,
.button {
    background-color: $color-green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: normal;
    height: $button-height;
    line-height: $button-height;
    outline: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    text-decoration: none;
    user-select: none;
    a {
        color: #fff;
    }
    &--blue {
        background-color: #09A5DB;
        border-color: #0682AD;
    }
}

.dropbtn {
    background-color: #F0FFF4;
    border: 1px solid #CBF5D6;
    font-size: 1.1rem;
    padding-left: 1.5em;
    padding-right: 1.5em;
    border-radius: 5px;
    outline: none;
}

.btn__icons {
    padding-left: 15px;
}

l-button {
    margin-bottom: 2rem;
}

.upper-section {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.l-upper-section {
    margin-bottom: 2rem;
    padding: 3rem 3rem 0 3rem;
    position: relative;
    clear: both;
    width: inherit;
    z-index: 2;
}

.main-content {
    padding-left: 3rem;
    padding-right: 3rem;
    height: 90vh;
    flex-grow: 1;
    overflow: auto;
    &::-webkit-scrollbar-thumb {
        display: none;
        z-index: 10;
    }
    .message-box {
        background-color: #fff;
        padding: 1.5rem;
        .msg__text {
            font-size: 1.6rem;
            margin-left: 1.5rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            &--left {
                float: left;
            }
            &--right {
                float: right;
                text-align: right;
                .msg__time {
                    font-size: 1.1rem;
                    margin-bottom: 7px;
                    color: #B2B2BA;
                }
                .request__price {
                    font-size: 1.6rem;
                    font-weight: bold;
                    color: #09A5DB;
                }
            }
            &--left {
                display: flex;
                flex-flow: row wrap;
                .msg__sender {
                    flex-basis: 100%;
                    margin-bottom: 4px;
                    color: #011B33;
                }
                .msg__content {
                    font-size: 1.2rem;
                    max-width: 25rem;
                    flex-basis: 100%;
                    line-height: 1.26;
                    color: #071D31;
                }
            }
        }
    }
}

.l-message-box {
    width: auto;
    display: flex;
    border-bottom: 1px solid #DFF7FF;
    &:first-child {
        border-radius: 5px 5px 0 0;
    }
    &:last-child {
        border-radius: 0 0 5px 5px;
    }
}

.aside {
    flex: 2.5;
    float: left;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    &--is-empty {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .request-action-box {
        width: 100%;
        height: 19.5rem;
        @include box-shadow (0, 0.2rem, 1rem, rgba($color-shadow, 0.1));
        align-self: flex-start;
        padding: 3rem 3rem 2rem 3rem;
        // position: relative;
        clear: both;
        z-index: 2;
        .box-top {
            display: flex;
            padding-bottom: 1.6rem;
            border-bottom: 1px solid #E3E3E3;
            flex-flow: row wrap;
            align-items: center;
            svg {
                padding-left: 1rem;
            }
            .request__by {
                color: $color-blue;
                font-size: 1rem;
            }
            .request__time {
                color: $color-textgrey;
                font-size: 1rem;
                padding-left: 0.5rem;
            }
            .request__category {
                color: #09A5DB;
                font-size: 1.1rem;
                width: 8.4rem;
                height: 2.4rem;
                border-radius: 5px;
                margin-left: 1rem;
                display: flex;
                align-items: center;
            }
        }
        .box-middle {
            padding-top: 1.3rem;
            display: flex;
            justify-content: space-between;
            .request__description {
                font-size: 1.6rem;
                max-width: 70%;
                flex-basis: 100%;
                line-height: 1.16;
                color: #071D31;
                margin-bottom: 1.5rem;
            }
            .request__price {
                font-size: 1.6rem;
                letter-spacing: 0.025em;
                font-weight: bold;
                color: #09A5DB;
                text-align: right;
            }
        }
        .request__cta {
            display: flex;
            flex-basis: 34.7rem;
            // justify-content: space-between;
            margin-bottom: 2rem;
            .button {
                width: 16rem;
                height: 4rem;
                display: flex;
                justify-content: center;
                font-size:1.2rem;
                margin-right: 1rem;

                &--accept {
                    background-color: #F0FFF4;
                    border: 1px solid #CBF5D6;
                    color: #3BB75E;
                }
                &--decline {
                    background-color: #FCE9E9;
                    border: 1px solid #FFD1D7;
                    color: #FF0000;
                }
                &--is-accepted {

                }
            }
        }
    }
    .request-dialogue-box {
        flex: 1;
        overflow: auto;
        padding: 0 3rem;
        width: 100%;
        .request__msg {
            margin-top: 2rem;
            border: 1px solid #D6F4FF;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            width: 75%;
            background-color: #F6FCFF;
            font-size:1.4rem;
            &--reply {
                float: right;
            }
            .upper-section {
                display: flex;
                justify-content: space-between;
                width: 100%;
                padding-bottom: 1.5rem;
                padding-top: 1rem;
                border-bottom: 1px solid #EEE;
                align-content: baseline;
                font-size: 1.4rem;
                .request__sender {
                   
                    align-self: center;
                    color: #011B33;
                    font-weight: bold;
                }
                .request__time {
                   
                    font-size: 1.1rem;
                    margin: auto 0;
                    color: #B2B2BA;
                    // display: flex;
                    // margin: auto;
                }
            }
            .request__text {
                    padding: 1.3rem 0 0.8rem 0;
                    line-height: 1.30;
                    color: #071D31;
                    font-size: 1.4rem;
                    
            }
        }
    }
    .dialogue-footer {
        display: flex;
        width: 100%;
        padding: 3rem;
        float: left;
        background-color: #fff;
        svg {
            // background-color: #fff;
        }
        input {
            flex: 1;
            background-color: #F6FCFF;
            border: none;
            border-top: 1px solid #DFF7FF;
            border-bottom: 1px solid #DFF7FF;
            text-indent: 1.5rem;
            font-size: 1.2rem;
            outline: none;
        }
        .button {
            display: flex;
            align-items: center;
            background-color: #09A5DB;
            border: 1px solid #0682AD;
            // border: 3px solid green;
            border-radius: 5px;
            font-size: 1.4rem;
            color: #fff;
            height: auto;
        }
    }
}
