/*Import Core*/

@import 'core/reset-min';
@import 'core/fonts';
@import 'core/variables';
@import 'core/mixin';

/*Import Core*/

@import 'components/icons';

* {
    font-family: 'Graphik', 'Helvetica Nueue', sans-serif;
}

html {
    font-size: 62.5%;
}

i {
    display: inline-block;
    margin-right: 1rem;
}

a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    color: #7C86A2;
}

hr {
    height: 0.1rem;
    width: 12rem;
    background-color: $color-border;
}

img {
    border-radius: 0.5rem;
}

.l-sidebar {
    width: 18%;
    min-width: 13rem;
    @include box-shadow (0, 0.2rem, 1rem, rgba($color-shadow, 0.1));
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
    &__top {
        height: 8rem;
        display: flex;
        padding-left: 3rem;
        padding-left: inherit;
        @include box-shadow (0, 0.2rem, 1rem, rgba($color-shadow, 0.1));
        align-items: center;
        justify-content: center;
    }
    &__profile {
        display: inline-flex;
        align-items: center;
        padding: 3rem 0 5rem 3rem;
    }
}

.sidebar {
    font-size: 1.4rem;
    background-color: #fff;
}

.profile-img {
    &--sm {
        width: 3rem;
        height: 3rem;
    }
    &--large {
        width: 4rem;
        height: 4rem;
    }
}

.profile-name {
    margin-left: 1.5rem;
    color: #9B9B9B;
}

.nav {
    position: relative;
    .l-nav-item {
        height: 8rem;
        padding-left: 3rem;
        display: flex;
        align-contents: center;
        &:active,
        &:visited,
        &:link,
        &:focus {
            font-weight: bold;
            
        }
        &:after {
            content: '';
            background-color: #3BB75E;
            height: 0.7rem;
            position: absolute;
            left: 0;
       }

        &:last-child {
            position: fixed;
            bottom: 0;
            width: 18%;
            min-width: 13rem;
            background-color: #0BA4D9;
            background-image: linear-gradient( to top right, #0BA4D9, #4CC0E8);
            border: none;
        }
        span {
            color: $color-white;
        }
    }
}

.l-content-container {
    margin-left: 18%;
    width: 37.5%;
}

.request {
    height: 100%;
    padding: 3rem;
    background-color: #F0F4F6;
}

button,
.button {
    background-color: $color-green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: normal;
    height: $button-height;
    line-height: $button-height;
    outline: none;
    padding-left: 1.5em;
    padding-right: 1.5em;
    position: relative;
    text-decoration: none;
    transition-duration: 250ms;
    transition-property: background, box-shadow, color, transform;
    transition-timing-function: ease-in-out;
    user-select: none;
}

l-button {
    margin-bottom: 2rem;
}

.upper-section {
    width: inherit;
    display: flex;
    justify-content: space-between;
}

.l-upper-section {
    width: auto;
    margin-bottom: 2rem;
}


.main-content {

    .message-box {       
        background-color: #fff;
        padding:1.5rem;
        
        
        .msg__text {
            font-size: 1.6rem;
            margin-left: 1.5rem;
            display: flex;
            justify-content: space-between;
            width: 100%;
            &--left {
                float: left;
            }
            &--right {
                float: right;
            }
        }
    }
}

.l-message-box {
    width: auto;
    min-height: 1.8rem;
    display: flex;
    min-height: 8.8rem;  
}